@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Raleway:regular,italic,500,500italic);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Source Sans Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Source Sans Pro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
}

.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}

.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}

.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

.select .select-options__value:hover {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check:before {
  content: '';
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}

.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.option:last-child {
  margin-bottom: 0px;
}

.option input {
  display: none;
}

.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: '';
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}

.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}

.quantity__btn:hover:before {
  color: #da0005;
}

.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}

.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}

.category-params-item-price-table .cell:first-child:after {
  content: '-';
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}

.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}

.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}

.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}

.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #000000;
  margin: 0 0 0 3px;
}

.title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 0 3px;
}

.button {
  background: #912F40;
  width: 170px;
  height: 50px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #7d0117;
}

.control-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
}

.control-slider_prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4E779A;
  width: 130px;
  height: 100px;
  cursor: pointer;
}

.control-slider_prev span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125.9%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.control-slider_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #07395B;
  width: 130px;
  height: 100px;
  cursor: pointer;
}

.control-slider_next span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125.9%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

.popup.active .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup.show {
  display: block;
}

.popup.show .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}

.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer_content {
  border-top: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 100px 0;
}

.footer_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer_text {
  width: 320px;
  margin: 0 0 25px 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #000000;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-footer_input {
  width: 320px;
  height: 40px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.form-footer_button {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #912F40;
  width: 120px;
  height: 40px;
  background-color: white;
}

.form-footer_button span {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #912F40;
}

.form-footer_button:hover {
  background-color: #912F40;
}

.form-footer_button:hover span {
  color: white;
}

.footer-networks {
  margin: 85px 0 0 0;
}

.footer-networks_link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: black;
  margin: 0 10px;
}

.footer-networks_link:first-child {
  margin: 0 10px 0 0;
}

.footer-networks_link:hover {
  color: #912F40;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts_item {
  margin: 0 30px;
}

.footer-contacts_title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer-contacts_text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #000000;
}

.footer-contacts_text p {
  margin: 15px 0;
}

.footer-contacts_text p:last-child {
  text-decoration: underline;
}

.footer-menu {
  margin: 60px 0 0 20px;
}

.footer-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu_list li {
  margin: 0 10px;
}

.footer-menu_link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.footer-menu_link:hover {
  color: #912F40;
}

.main-menu {
  margin: 0 10px 40px 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid black;
}

.main-menu_logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.3em;
  color: #101C24;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.main-menu_items {
  top: -100%;
}

.main-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu_list li {
  margin: 0 40px;
}

.main-menu_link {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #101C24;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-menu_link:hover {
  color: #912F40;
}

.main {
  position: relative;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  left: 100%;
  display: none;
}

.main.active {
  display: block;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.sunrise-slider {
  position: relative;
}

.item-sunrise-slider {
  position: relative;
}

.item-sunrise-slider_content {
  position: relative;
  height: 100%;
  z-index: 2;
}

.item-sunrise-slider_container {
  height: 100%;
  overflow: hidden;
}

.item-sunrise-slider_bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.sunrise_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  padding: 120px 0 120px 0;
  width: 20%;
  margin: 0 0 0 -8px;
}

.sunrise-card {
  width: 540px;
  height: 268px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sunrise-card_description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sunrise-card_title {
  padding: 40px 0 0 0;
}

.sunrise-card_text {
  margin: 20px 0;
  width: 60%;
}

.control-sunrise-slider {
  bottom: 0;
  right: 0;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 230px 0 220px 0;
}

.history-left {
  position: relative;
}

.history-left_bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.history-left_text {
  margin: 10px 0 0 0;
}

.history-right {
  margin: 0 0 0 120px;
}

.history-right_title {
  margin: 0  0 60px 0;
}

.history-right_text p {
  margin: 0 0 35px 0;
}

.transitions-history-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transitions-history-right_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.transitions-history-right_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.projects_button {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  padding: 0 0 4px 0;
  border-bottom: 1px solid black;
  color: black;
}

.progress {
  padding: 0 0 110px 0;
}

.progress-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 35px 0;
}

.progress-menu_title {
  margin-bottom: 35px;
}

.item-progress-menu {
  margin: 0 20px;
  width: 155px;
}

.item-progress-menu_title {
  margin-bottom: 15px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #C4C4C4;
}

.item-progress-menu_elements {
  opacity: 0;
  background: #4E779A;
  width: 150px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
}

.item-progress-menu_elements p {
  padding: 10px 0;
  color: white;
}

.item-progress-menu_elements.active {
  opacity: 1;
}

.clicker-item-progress-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.clicker-item-progress-menu_name {
  cursor: pointer;
}

.clicker-item-progress-menu_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 10px;
}

.progress-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-progress-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-progress-slider_bg {
  max-width: 540px;
  max-height: 360px;
}

.item-progress-slider_bg img {
  height: 360px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.control-progress-slider {
  bottom: 0;
  left: 0;
}

.progress-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 100px;
}

.progress-card_text {
  margin: 35px 0;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8F8F8;
  padding: 70px 0;
  width: 100%;
}

.partners_item {
  margin: 0 75px;
}

.news {
  margin: 130px 0 170px 0;
}

.news_tilte {
  margin-bottom: 50px;
}

.news_text {
  max-width: 500px;
  margin-bottom: 50px;
}

.item-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  padding: 30px 0;
}

.item-news_left img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 400px;
}

.item-news_right {
  margin: 0 0 0 35px;
}

.item-news:nth-child(5) {
  border-style: none;
}

.right-item-news_date {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #C4C4C4;
  margin: 0 0 15px 0;
}

.right-item-news_title {
  font-size: 20px;
  margin: 0 0 25px 0;
}

.news-button {
  display: block;
}

.news-button_projects {
  margin: 30px 0 0 0;
}

.projects {
  display: block;
  margin: 50px 0 0 0;
}

.projects {
  position: relative;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  left: 100%;
  padding: 0 0 100px 0;
  display: none;
  opacity: 0;
}

.projects.active {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-property: display, opacity;
  -o-transition-property: display, opacity;
  transition-property: display, opacity;
  opacity: 1;
  left: 0;
  top: 0;
  display: block;
}

.projects-slider {
  position: relative;
  padding: 0 0 100px 0;
}

.projects-slider_item {
  position: relative;
}

.item-projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 80px 0;
}

.item-projects-slider_left img {
  width: 100%;
  height: 443px;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-item-projects-slider {
  position: relative;
}

.description-right-item-projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 120px;
}

.description-right-item-projects-slider_title {
  width: 300px;
}

.description-right-item-projects-slider_text {
  max-width: 300px;
}

.card-right-item-projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 500px;
  height: 136px;
  padding: 40px 30px;
  position: absolute;
  bottom: -75px;
  right: 50px;
  background: #F8F8F8;
}

.card-right-item-projects-slider_category {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}

.control-projects-slider {
  bottom: 180px;
  left: 0;
}

.project-info {
  padding: 0 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-info_right img {
  width: 580px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-project-info_title:first-child {
  margin: 0 0 10px 0;
}

.left-project-info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 167px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-project-info_element {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.left-project-info_text {
  max-width: 540px;
}

.left-project-info_text p {
  margin: 30px 0;
}

.project-gallery_item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-gallery_item:nth-child(1) img {
  width: 580px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-gallery_item:nth-child(2) img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-gallery_item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-gallery_item:nth-child(3) img {
  width: 580px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-gallery_item {
  margin: 0 0 40px 0;
}

.projects-map {
  padding: 170px 0 170px 0;
}

.projects-map_up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}

.projects-map_title:first-child {
  margin-bottom: 10px;
}

.projects-map_text {
  max-width: 540px;
}

.projects-map_text p {
  margin: 0 0 10px 0;
}

.projects-map_down-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0 0;
}

.row-projects-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-projects-map_item {
  text-align: left;
  margin: 0 10px 0 0;
}

.services {
  padding: 0 0 500px 0;
  position: relative;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  display: none;
  left: 100%;
}

.services_container {
  position: relative;
}

.services_bg {
  width: 100%;
}

.services_bg img {
  width: 100%;
  height: 443px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_info {
  background-color: white;
  max-width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -460px;
  right: 0px;
}

.services_title {
  max-width: 300px;
  margin: 50px 0 60px 0;
}

.services_text {
  max-width: 300px;
}

.services_text p {
  margin: 0 0 20px 0;
}

.services_bg-2 {
  margin: 10px 0;
}

.services_bg-2 img {
  width: 540px;
  height: 388px;
}

.services.active {
  display: block;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.order-services {
  margin: 155px 0 0 330px;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.order-services_item {
  cursor: pointer;
  margin: 0 0 20px 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 250%;
  letter-spacing: 0.05em;
  color: #C4C4C4;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.order-services_item.active {
  color: black;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.order-services_buttons {
  display: block;
}

.order-services_services {
  margin: 20px 0;
}

.order-services_projects {
  margin: 20px 0;
}

.about {
  position: relative;
  left: 100%;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  display: none;
}

.about.active {
  display: block;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.about-video_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-video_title {
  max-width: 261px;
}

.about-video_right {
  max-width: 600px;
  margin: 0 0 40px 0;
}

.about-video_text p {
  margin: 0 0 10px 0;
}

.mission {
  padding: 165px 0 180px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mission-left_title {
  max-width: 520px;
  margin: 0 0 260px 0;
}

.mission-left_title span {
  color: #4E779A;
}

.mission-left_small-title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #000000;
}

.mission-left_text {
  max-width: 540px;
  margin: 40px 0 60px 0;
}

.mission-right_text {
  max-width: 540px;
  margin-bottom: 125px;
}

.mission-right_text p {
  margin-bottom: 20px;
}

.mission-right_address {
  margin-top: 20px;
}

.mission-right_bg img {
  width: 540px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  padding: 0 0 170px 0;
}

.team-up_text {
  margin: 50px 0 90px 0;
  max-width: 540px;
}

.team-slider {
  position: relative;
  max-height: 359px;
}

.team-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-slider_left {
  position: relative;
}

.team-slider_bg img {
  max-width: 100%;
  height: 359px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-slider_right {
  margin-left: 50px;
  max-width: 610px;
  padding: 0 0 20px 0;
}

.team-slider_title {
  margin-bottom: 20px;
}

.team-slider_grey-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #C4C4C4;
  margin-bottom: 40px;
}

.team-slider_text p {
  margin: 0 0 30px 0;
}

.team-slider_text p:last-child {
  margin: 0;
}

.team-slider_control {
  bottom: 0;
  left: 0;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

@media (max-width: 1375px) {
  .partners_item {
    margin: 0 20px;
  }
}

@media (max-width: 1215px) {
  .progress-menu_title {
    text-align: center;
  }

  .progress-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .sunrise-card_title {
    margin: 0 0 0 20px;
  }

  .sunrise-card_text {
    margin: 0 0 0 20px;
  }

  .sunrise-card_button {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 1160px) {
  .project-gallery_item:nth-child(1) img {
    margin: 0 0 40px 0;
  }

  .project-gallery_item:nth-child(1) {
    display: block;
    text-align: center;
  }

  .project-gallery_item:nth-child(3) img {
    margin: 0 0 40px 0;
  }

  .project-gallery_item:nth-child(3) {
    display: block;
    text-align: center;
  }

  .services_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services_info {
    position: static;
  }

  .order-services {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 1130px) {
  .mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mission-right_text {
    margin-top: 50px;
  }
}

@media (max-width: 1115px) {
  .project-info {
    display: block;
    text-align: center;
  }

  .left-project-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1085px) {
  .history {
    display: block;
    text-align: center;
  }

  .history-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 35px 0 0 0;
  }
}

@media (max-width: 980px) {
  .item-progress-slider_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-progress-slider {
    display: block;
    text-align: center;
  }

  .control-progress-slider {
    display: none;
  }

  .progress-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 35px 0 0 0;
  }

  .progress-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 950px) {
  .news {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .right-item-news {
    text-align: center;
    margin: 30px 0;
  }

  .projects-map_down-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 940px) {
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners_item {
    margin: 20px 20px;
  }
}

@media (max-width: 885px) {
  .description-right-item-projects-slider {
    margin: 0 0 0 20px;
  }

  .control-projects-slider {
    display: none;
  }
}

@media (max-width: 799px) {
  .control-slider {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .main-menu_items {
    overflow: auto;
    visibility: hidden;
    background: #4E779A;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 0 0 0;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  .main-menu_items:after {
    content: '';
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
  }

  .main-menu_items.active {
    opacity: 0.8;
    visibility: visible;
    top: 0;
  }

  .main-menu_list {
    display: block;
    text-align: center;
  }

  .main-menu_list li {
    margin: 25px 0;
  }

  .main-menu_link {
    font-size: 30px;
    color: white;
  }

  .main-menu_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .main-menu_burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .main-menu_burger span:first-child {
    top: 0px;
  }

  .main-menu_burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .main-menu_burger.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .main-menu_burger.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .main-menu_burger.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 725px) {
  .projects-map_up-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .item-projects-slider {
    display: block;
    padding: 0 0 170px 0;
  }

  .card-right-item-projects-slider {
    bottom: -180px;
    right: 0;
  }
}

@media (max-width: 500px) {
  .card-right-item-projects-slider_element {
    padding: 10px 0;
  }

  .card-right-item-projects-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .sunrise_title {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .services {
    padding: 0 0 200px 0;
  }
}

.webp .check.active:before{ background: url(../img/icons/check.webp) center no-repeat; }

.webp .option.active:before{ background: url(../img/icons/option.webp) center no-repeat; }

.webp .popup-close{ background: url(../img/icons/close.webp) 0 0 no-repeat; }